@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100 transition-colors duration-300;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-50 dark:bg-zinc-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-300 dark:bg-zinc-800 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary dark:bg-primary;
  }
}